### Commented Codes

In [0]:

videoGamesPath = "/content/drive/My Drive/ODU/CourseWork/CS - 620 | F19 | Intro to Data Science/Project/reviews_Video_Games.json.gz"
digitalMusicPath = "/content/drive/My Drive/ODU/CourseWork/CS - 620 | F19 | Intro to Data Science/Project/reviews_Digital_Music.json.gz"
sportsPath = "/content/drive/My Drive/ODU/CourseWork/CS - 620 | F19 | Intro to Data Science/Project/reviews_Sports_and_Outdoors.json.gz"


videoGamesMetaPath = "/content/drive/My Drive/ODU/CourseWork/CS - 620 | F19 | Intro to Data Science/Project/meta_Video_Games.json.gz"
digitalMusicMetaPath = "/content/drive/My Drive/ODU/CourseWork/CS - 620 | F19 | Intro to Data Science/Project/meta_Digital_Music.json.gz"
moviesMetaPath = "/content/drive/My Drive/ODU/CourseWork/CS - 620 | F19 | Intro to Data Science/Project/meta_Sports_and_Outdoors.json.gz"
sportsMetaPath = "/content/drive/My Drive/ODU/CourseWork/CS - 620 | F19 | Intro to Data Science/Project/meta_Movies_and_TV.json.gz"

In [0]:
#Electronics = pd.read_json('https://www.cs.odu.edu/~hpendyal/courses/CS620/project/dataset/Electronics_5.json', , lines=True)
#using spark

#videoGames = getDF(videoGamesPath)
#---- Video Games Data
#videoGames = pd.read_json(videoGamesPath, compression='gzip', lines=True)
#Electronics = getDF(electronicsMetaPath)

In [0]:

#videoGamesMeta = getDF(videoGamesMetaPath)
#videoGamesMeta.head()

In [0]:
# #mode_yearly = Electronics.groupby(['year'])['overall'].value_counts().reset_index()
# #-- mean_yearly = mean_yearly.rename(columns={'overall':'no_of_reviews'})
# sns.lineplot(x='year',y='overall',data=mean_yearly, label = 'Mean')
# sns.lineplot(x='year',y='overall',data=median_yearly, label = 'Median')
# #sns.lineplot(x='year',y='overall',data=mode_yearly)
# f.tight_layout()
# #yearChart.set_title('No of reviews over years')
#stat_reviews_yearly['mode'] =

In [0]:
#--- Distribution of Length of review vs helpful count
# reviewLength = Electronics_reviews[['asin','reviewLength']]
# #print(reviewLength.describe())
# #helpfulness.describe()
# reviewLength_vs_helpfulCount = pd.merge(reviewLength,helpfulness, on='asin', how = 'outer')
# reviewLength_vs_helpfulCount.head()
#reviewLength_vs_helpfulCount = pd.merge(reviewLength,helpfulness, on='asin', how = 'inner')
#reviewLength_vs_helpfulCountChart = sns.barplot(x='helpfulVotes', y='reviewLength', data=reviewLength_vs_helpfulCount)
# reviewLength = spark.createDataFrame(Electronics_reviews[['asin','reviewLength']])
# helpfulnessDF = spark.createDataFrame(helpfulness)
# reviewLength_vs_helpfulCountDF = reviewLength.join(helpfulnessDF,on=['asin'],how='inner')
#reviewLength_vs_helpfulCountDF.show()
#reviewLength_vs_helpfulCount = reviewLength_vs_helpfulCountDF.toPandas()
#reviewLength_vs_helpfulCount.head()
#reviewLength_vs_helpfulCountChart = sns.barplot(x='helpfulVotes', y='reviewLength', data=reviewLength_vs_helpfulCount)

In [0]:
#word Frequencies
# text = " ".join(review for review in Electronics.reviewText)
# print ("There are {} words in the combination of all review.".format(len(text)))
# # Create and generate a word cloud image:
# stopwords = set(STOPWORDS)
# #stopwords.update([])

# # Generate a word cloud image
# wordcloud = WordCloud(stopwords=stopwords, background_color="white").generate(text)

# # Display the generated image:
# plt.imshow(wordcloud, interpolation='bilinear')
# plt.axis("off")
# plt.show()

### Need to execute Only 1 time

In [0]:
%%time
#-- Analyzing reviews
#-- !-- NEED TO EXECUTE EVERYTIME --!
#-- !-- PREPROCESSING 1 --!
#-- getting reveiw time and date into seperate columns
Electronics['reviewTime'] = pd.to_datetime(Electronics['reviewTime'])
Electronics['month'] = Electronics['reviewTime'].dt.month
Electronics['year'] = Electronics['reviewTime'].dt.year
#Electronics.groupby(['Year'])['reviewerId']
print("Splitting review's data and time completed in ")
Electronics.to_pickle('/content/drive/My Drive/ODU/CourseWork/CS - 620 | F19 | Intro to Data Science/Project/Electronics_split.pkl')

***-- Cleaned Review***

In [0]:
#--- Not Required to execute everytime
%%time
Electronics['cleanedReview'] = Electronics['reviewText'].map(preprocessText)
print()
print("Preprocessing completed in ")

In [0]:
%%time
#--- Not Required to execute everytime
Electronics[['helpfulVotes','totalVotes']] = pd.DataFrame(Electronics.helpful.values.tolist(), index=Electronics.index)
Electronics = Electronics.drop(['helpful'], axis = 1)
Electronics.to_pickle('/content/drive/My Drive/ODU/CourseWork/CS - 620 | F19 | Intro to Data Science/Project/Electronics_Cleaned_NO_STEM.pkl')
Electronics.head()

In [0]:
#--- Not Required to execute everytime
#--- Assigning positive review for all the products with review >= 4
Electronics['binrating'] = Electronics['overall'] >= 4
Electronics.head()

As the above 3 cells are already processed are already Processed and saved we will read the data from saved file

***-- Calculating the sentiment using vader Sentiment***

In [0]:
#-- Not required to execute everytime
%%time
Electronics['Sentiment_Score']=Electronics['reviewText'].apply(lambda x: sentimental_Score(x))
print(Electronics.head())

In [0]:
#--- Not required to execute everytime
#---save the files into data
Electronics.to_pickle('Electronics_sentiment.pkl')

In [0]:
#--- Not required to execute everytime
%%time
positive_data = Electronics.loc[Electronics['Sentiment_Score'] == 'pos']
negative_data = Electronics.loc[Electronics['Sentiment_Score'] == 'neg']
neutral_data = Electronics.loc[Electronics['Sentiment_Score'] == 'neu']

positive_data.to_pickle('positive_reviews.pkl')
negative_data.to_pickle('negative_reviews.pkl')
neutral_data.to_pickle('neutral_reviews.pkl')

In [0]:
#--- Not Required to execute everytime
sentimentAnalysisPath = "/content/drive/My Drive/ODU/CourseWork/CS - 620 | F19 | Intro to Data Science/Project/SentimentAnalysis.pkl"
PositiveReviewsPath = "/content/drive/My Drive/ODU/CourseWork/CS - 620 | F19 | Intro to Data Science/Project/SentimentAnalysis-positive.pkl"
NegativeReviewsPath = "/content/drive/My Drive/ODU/CourseWork/CS - 620 | F19 | Intro to Data Science/Project/SentimentAnalysis-negative.pkl"
NeutralReviewsPath = "/content/drive/My Drive/ODU/CourseWork/CS - 620 | F19 | Intro to Data Science/Project/SentimentAnalysis-neutral.pkl"
#---save the files into data
Electronics.to_pickle(sentimentAnalysisPath)
positive_data.to_pickle(PositiveReviewsPath)
negative_data.to_pickle(NegativeReviewsPath)
neutral_data.to_pickle(NeutralReviewsPath)

### ROugh-- WOrking with data to get popular bundle of products that go on sale

In [0]:
%%time
import json
import glob
# Firstly cleaning the data by converting files into proper json format files by some replacements and 
# then Making a list of Tuples containg all the data of json files.         
Combine=[]
for index, row in electronics_meta.iterrows():
  try:
    if not pd.isna(row['related']) :
      y = str(row['related']).replace("'",'"')
      jdata = json.loads(y)
      #print(jdata)
      #print((row['asin'],row['price'],jdata['also_viewed']))
      if jdata.get('bought_together') and jdata.get('also_bought') and jdata.get('also_viewed'): 
        #print((row['asin'],jdata['bought_together'],row['price'],jdata['also_bought'],jdata['also_viewed']))
        Combine.append((row['asin'],jdata['bought_together'],row['price'],jdata['also_bought'],jdata['also_viewed']))
      elif jdata.get('bought_together') and jdata.get('also_bought') and not jdata.get('also_viewed'):
        Combine.append((row['asin'],jdata['bought_together'],row['price'],jdata['also_bought'],[]))
      elif jdata.get('bought_together') and jdata.get('also_viewed') and not jdata.get('also_bought'):
        Combine.append((row['asin'],jdata['bought_together'],row['price'],[],jdata['also_viewed']))
      elif jdata.get('also_bought') and jdata.get('also_viewed') and not jdata.get('bought_together'):
        Combine.append((row['asin'],[],row['price'],jdata['also_bought'],jdata['also_viewed']))
      elif jdata.get('bought_together') and not jdata.get('also_bought') and not jdata.get('also_viewed'):
        Combine.append((row['asin'],jdata['bought_together'],row['price'],[],[]))
      elif jdata.get('also_bought') and not jdata.get('bought_together') and not jdata.get('also_viewed'):
        Combine.append((row['asin'],[],row['price'],jdata['also_bought'],[]))
      elif jdata.get('also_viewed') and not jdata.get('also_bought') and not jdata.get('bought_together'):
        Combine.append((row['asin'],[],row['price'],[],jdata['also_viewed']))
      else:
        Combine.append((row['asin'],[],row['price'],[],[]))
      #Combine.append((row['asin'],jdata['related']['bought_together'],row['price'],jdata['related']['also_bought'],jdata['related']['also_viewed']))
  except:
    pass

# getting numerical values for 'Number_Of_Pack' and etc.
CombineValue=[]
for i in Combine:
  CombineValue.append((i[0],len(i[1])+1,i[2],len(i[3]),len(i[4])))
        
        
# Creating a dataframe using the list of Tuples got in the previous step.     
Pack_dataset=pd.DataFrame(CombineValue,columns=['asin','Number_Of_Pack','price','Also_Bought','Also_Viewed'])

In [0]:
Pack_dataset.head()

***CHECK FOR THE POPULAR BUNDLE (i.e. QUANTITY IN A BUNDLE).***

Grouping by Number of Pack and getting their respective count.

In [0]:
Pack_result=Pack_dataset.groupby('Number_Of_Pack')['asin'].count().reset_index()
Pack_result=Pack_result.rename(columns={'asin': 'Count'})
Pack_result.plot(x="Number_Of_Pack",y="Count",kind="bar",title="POPULAR BUNDLE")
plt.show()

***TOP 10 POPULAR BRANDS WHICH SELLS PACK OF 1 AND PACK OF 2, AS THEY ARE THE POPULAR BUNDLES***

Get all the asin for Pack 1 and 2 since they have the highest number of counts.

In [0]:
Pack1_2=Pack_dataset[(Pack_dataset.Number_Of_Pack == 1) | (Pack_dataset.Number_Of_Pack == 2)]
list_Pack1_2=Pack1_2.asin.tolist()
len(list_Pack1_2)

Getting the brand name of those asin which is present in the list 'list_Pack1_2'.

In [0]:
%%time
pop_Brand=[]
for index, row in electronics_meta.iterrows():
# for p in list_Pack1_2:
  if row['asin'] in list_Pack1_2:
    if not pd.isna(row['brand']):
      #print(row['brand'])
      pop_Brand.append(row['brand'])
    else:
      pop_Brand.append('')
    #pop_Brand.append(electronics_meta[electronics_meta['asin'] == p].brand)
#-- Removing the rows which does not have brand name.
pop_Brand=list(filter(None, pop_Brand))
pop_Brand

Getting the brand name of those asin which is present in the list 'list_Pack1_2'.

In [0]:
Top10=collections.Counter(pop_Brand).most_common(10)
# creating a DataFrame
Top10_data=pd.DataFrame(Top10,columns=['brand','No_Of_Pack_1_&_2'])
Top10_data.head()

In [0]:
Top10_data.plot(x="brand",y="No_Of_Pack_1_&_2",kind="bar",title="POPULAR BRAND")
plt.show()

### ROugh OLD

In [0]:
#--- Rough for coding 
#--- Total reviews 1689188
reviews_word_length['count'].sum()

In [0]:
#--- ROugh
for index, row in electronics_meta.iterrows():
  if not pd.isna(row['related']) :
    y = str(row['related']).replace("'",'"')
    jdata = json.loads(y)
    #print(jdata)
    #print((row['asin'],row['price'],jdata['also_viewed']))
    if jdata.get('bought_together') and jdata.get('also_bought') and jdata.get('also_viewed'): 
      print((row['asin'],jdata['bought_together'],row['price'],jdata['also_bought'],jdata['also_viewed']))
    elif jdata.get('bought_together') and jdata.get('also_bought') and not jdata.get('also_viewed'):
      print((row['asin'],jdata['bought_together'],row['price'],jdata['also_bought'],0))
    elif jdata.get('bought_together') and jdata.get('also_viewed') and not jdata.get('also_bought'):
      print((row['asin'],jdata['bought_together'],row['price'],0,jdata['also_viewed']))
    elif jdata.get('also_bought') and jdata.get('also_viewed') and not jdata.get('bought_together'):
      print((row['asin'],0,row['price'],jdata['also_bought'],jdata['also_viewed']))
    elif jdata.get('bought_together') and not jdata.get('also_bought') and not jdata.get('also_viewed'):
      print((row['asin'],jdata['bought_together'],row['price'],0,0))
    elif jdata.get('also_bought') and not jdata.get('bought_together') and not jdata.get('also_viewed'):
      print((row['asin'],0,row['price'],jdata['also_bought'],0))
    elif jdata.get('also_viewed') and not jdata.get('also_bought') and not jdata.get('bought_together'):
      print((row['asin'],0,row['price'],0,jdata['also_viewed']))
    else:
      print((row['asin'],0,row['price'],0,0))
    if index == 6:
      break

### ROUGH-111

In [0]:
df = dataset_cleaned.sort_values(by='asin')
df = df.reset_index(drop=True)
count = df.groupby("asin", as_index=False).mean()
count_users = df.groupby("reviewerID", as_index=False).count()

df_clean = df[['asin', 'reviewerID', 'overall']]
df_clean.head()

         asin      reviewerID  overall
0  0528881469   AO94DHGC771SJ        5
1  0528881469   AMO214LNFCEI4        1
2  0528881469  A3N7T0DY83Y4IG        3
3  0528881469  A1H8PY3QHMQQA0        2
4  0528881469  A24EV6RXELQZ63        1

In [0]:
n_users = df_clean.reviewerID.unique().shape[0]
n_items = df_clean.asin.unique().shape[0]
print ('Number of Products = ' + str(n_items)+' | Number of users = ' + str(n_users))

Number of Products = 63001 | Number of users = 192403

In [0]:
count_users.loc[count_users['reviewerID'] == 'AO94DHGC771SJ']

           reviewerID  asin  ...  totalVotes  Sentiment_Score
176008  AO94DHGC771SJ     7  ...           7                7

[1 rows x 14 columns]

In [0]:
items_df = count[['asin']]
print('Products List : ',len(items_df))
users_df = count_users[['reviewerID']]
print(len(users_df))
users_list = users_df.values
print(len(users_list))

63001
192403
192403

In [0]:
%%time
from sklearn.model_selection import train_test_split
trainSet, testSet = train_test_split(df_clean, test_size=0.2,stratify=df_clean['reviewerID'])

print(len(testSet))
print(len(trainSet))

print(testSet.shape)
print(trainSet.shape)

337838
1351350
(337838, 3)
(1351350, 3)

In [0]:
%%time
mean_items = trainSet.groupby(['asin']).mean()

mean_users = trainSet.groupby(['reviewerID']).mean()

mean_overall = trainSet["overall"].mean()

print(mean_items,mean_users,mean_overall)
#print('> Items Mean : \n',mean_items.head(),'\n> Users Mean : \n',mean_users.head(),'\n> Overall Mean : \n',mean_overall.head())

             overall
asin
0528881469  3.500000
0594451647  4.000000
0594481813  4.000000
0972683275  4.455556
1400501466  4.025000
...              ...
B00L21HC7A  4.500000
B00L2442H0  4.857143
B00L26YDA4  4.538462
B00L3YHF6O  5.000000
B00LGQ6HL8  5.000000

[62999 rows x 1 columns]                         overall
reviewerID
A000715434M800HLCENK9  3.500000
A00101847G3FJTWYGNQA   4.600000
A00166281YWM98A3SVD55  4.750000
A0046696382DWIPVIWO0K  4.000000
A00472881KT6WR48K907X  4.500000
...                         ...
AZZV2NAQL8KHQ          4.142857
AZZVLOF3WKLFW          3.111111
AZZVYHVJ8BDUZ          4.833333
AZZX23UGJGKTT          4.647059
AZZYW4YOE1B6E          4.480000

[192403 rows x 1 columns] 4.222874902874903
CPU times: user 2.03 s, sys: 3.14 ms, total: 2.04 s
Wall time: 2.04 s

In [0]:
trainSet.head()

               asin      reviewerID  overall
153210   B0009HN57E  A38WQ96EAM2H3C        5
1289266  B007BJHETS  A3OCH1Y0NAM61X        5
529489   B001TH7GSW  A3NR4GKB1STZ5P        5
898666   B00456VUS6  A3IINOA2WIWSWJ        5
1504181  B009YONZEG  A1PZPHG3UZZWUM        5

In [0]:
testSet.head()

               asin      reviewerID  overall
1395806  B008GVM9K4  A2DNMHBMMK54L7        5
1336375  B007WN8NFC   ANJBAHRMAVTHL        4
482728   B001JTS83M  A3CQI5ZO1IE5ZK        5
310060   B000T8PTLI  A3O6HS63C2BGAD        4
903592   B00466X9SY  A1S57WK7Q3H0MB        5

In [0]:
train_data_matrix_na = trainSet.pivot(index='asin', columns='reviewerID', values='overall')
train_data_matrix = train_data_matrix_na
train_data_matrix

ValueError: ignored

***Assumptions that needed to be Answered.***

-> people who buy electronics how many people buy cell phones/ TV.

-> From the people who buy TV, how often they buy Movies for TV or even Video games.

-> People who buy more digital music, how often do they buy musical instruments.

-> How often do people who buy Cell phones and accessories, buy something related to sports or outdoors.

***All the above questions can be answered when we augment the electronics with another data, so will be working on the other data once we analyze the electronics review data***